<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Float.css">
    <title>Page Layout</title>
</head>
<body>
    <div class="div">
        <header>HEADER</header>
        <nav>NAVIGATION BAR</nav>
        <main>
            <section class="sec1">SECTION A</section>
            <section class="sec2">SECTION B</section>
            <section class="sec3">SECTION C</section>
        
            <!-- <aside></aside> -->
             <!-- study Aside and findout the behavior in relation to other HTML semantics -->
        </main>
        <footer>FOOTER</footer>
    </div>
    

        
</div>
</body>
</html>