<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Flex.css">
    <title>Flexible Box</title>
</head>
<body>
    <!-- <div id="con">
        <div class="BoxB1"></div>
        <div class="BoxB2"></div>
        <div class="BoxB3"></div>
        <div class="BoxB4"></div>
        <div class="BoxB5"></div>
        <div class="BoxB6"></div>
        <div class="BoxB7"></div>
        <div class="BoxB8"></div>
        <div class="BoxB9"></div>
        <div class="BoxB10"></div>
    </div> -->
    <div class="layout">
        <header>HEADER</header>
        <nav>NAVIGATION BAR</nav>
        <main>
           <section></section>
           <aside></aside>
           <article></article>
        </main>
        <footer>FOOTER</footer>
    </div>
    
</body>
</html>