<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="FlexAss1.css">
    <title>Page Layout Assessment</title>
</head>
<body>
    <div class="layout">
        <header>HEADER</header>
        <main>
           <section class="SEC2"> MAIN CONTENT </section>
           <section class="SEC2"> 
            <aside>Aside</aside>
            <section class="subsec2">
                <article class="art1"></article>
             <article class="art2"></article>
            </section>
           </section>
        </main>
        <footer>FOOTER</footer>
    </div>
    
</body>
</html>