<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="FlexAss.css">
    <title>Page Layout Assessment</title>
</head>
<body>
    <div class="layout">
        <header>HEADER</header>
        <main>
           <aside>SIDE BAR</aside>
           <section>
            <div class="contentbox"> CONTENT BOX 1</div>
            <div class="bottomboxes">
                <div id="box1"> CONTENT BOX 2</div>
                <div id="box2">CONTENT BOX 3</div>
            </div>
           </section>
        </main>
        <footer>FOOTER</footer>
    </div>
    
</body>
</html>